* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#heading{
  padding-bottom: 5%;
}
.todowrap {
  /*background-color: #7FD1B9;*/
  background: linear-gradient(#7fd1b9,rgb(0, 115, 128) );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.todo-container {
  /*background-color: #fff;*/
  background-color: #ECE2D0;
  max-width: 600px;
  width: 100%;
  padding: 30px;
}
.input-field {
  border: 0;
  height: 30px;
  margin: 0px;
  width: 70%;
  /* color: #495057; */
  color: black;
  background-color: white;
  padding: 20px;
  font-size: 18px;
  outline: none;
}
.add-task-wrap {
  padding: 16px;
  text-align: center;
  opacity: 1;
  background-color: #7FD1B9;
  color: #344767;
  box-shadow: #00000024 0rem 0.25rem 1.25rem 0rem,
    #00bbd466 0rem 0.4375rem 0.625rem -0.3125rem;
}

.list-input-box,
.list-input-box-task {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.todo-task-list {
  margin-top: 30px;
}

.heading-tasklist {
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin-bottom: 15px;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Task description and entry fields */
.task-description {
  border: 0;
  height: 40px;
  padding: 10px 20px;
  margin: 0px;
  width: 70%;
  color: #495057;
  font-size: 18px;
  outline: none;
  background-color: white;
  color: black;
}
.task-input-field {
  border: 0;
  height: 30px;
  margin: 0px;
  width: 70%;
  /* color: #495057; */
  color: #AAA;
  background-color: rgb(0, 115, 128);
  padding: 20px;
  font-size: 18px;
  outline: none;
}


/* Buttons */
.btn-sub {
  width: 120px;
  height: 40px;
  padding: 0 3px;
  background-color: #fff;
  border: none;
  letter-spacing: 0;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}
.btn-sub:hover {
  background-color: lightgrey;
}
#btn-sub{
  width: 120px;
  height: 40px;
  padding: 0 3px;
  background-color: #fff;
  border: none;
  letter-spacing: 0;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700; 
}
#btn-sub:hover {
  background-color: lightgrey;
}
.btn-add:hover {
  color: white;
  background-color: rgb(0, 115, 128);
}
.btn-edit:hover {
  color: white;
  background-color: rgb(0, 115, 128);
  
}
.btn-save {
  color: white;
  background-color: rgb(0, 115, 128);
}
.btn-save:hover {
  color: white;
  background-color: rgb(0, 115, 128);
}
.btn-delete:hover {
  color: white;
  background-color: red;
}
.btn-destroy-all:hover {
  color: white;
  background-color: red;
}